
@{
	ViewBag.Title = "Activation";
	Layout = "~/Views/Shared/_UserLayout.cshtml";
}


@section css{

	<link rel="stylesheet" href="~/assets/css/animate-3.7.0.css">
	<link rel="stylesheet" href="~/assets/css/font-awesome-4.7.0.min.css">
	<link rel="stylesheet" href="~/assets/fonts/flat-icon/flaticon.css">
	<link rel="stylesheet" href="~/assets/css/bootstrap-4.1.3.min.css">
	<link rel="stylesheet" href="~/assets/css/owl-carousel.min.css">
	<link rel="stylesheet" href="~/assets/css/nice-select.css">
	<link rel="stylesheet" href="~/assets/css/style.css">
}


	<div style="height:360px">
		@ViewBag.Message
	</div>


