
@*@model Web.Models.ViewModels.RegisterViewModel



<div class="container">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModel-label">Dialog</h4>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    @Html.LabelFor(x => x.Name, new { @class = "col-sm-3 text-right control-label col-form-label" })
                    <div class="col-sm-9">
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = "İsiminizi Giriniz" })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn primary" id="btnOk" onclick="">OK</button>
                <button class="btn btn default" data-dismiss="modal" id="btnCancel">Cancel</button>
            </div>
        </div>
    </div>
</div>*@




