@using Web.Models.IdentityEntities
@model Web.Models.IdentityEntities.User

            <div id="logInOut" style="position:relative;left:200px;top:25px">
                <div style="margin-right:30px" class="menu-btn">
                    <a href="@Url.Action("LoginIndex", "Account")"  class="template-btn" >GIRIS</a>
                    <a href="@Url.Action("RegisterIndex", "Account")" class="template-btn">UYE OL</a>
                </div>
            </div>



